#name {
  margin-left:2%;
  margin-right:2%;
  background-color:black;
  text-align:center;
  color:white;
  font-size:120%;
}

#bio {
  margin-left:2%;
  margin-right:2%;
  background-color:powderblue;
  text-align:center;
  color:black;
  font-size:120%;
  padding-top: 15px;
  padding-bottom: 1px;
}

#cr {
  background-color:rgb(255, 159, 178);
  margin-left:2%;
  margin-right:2%;
  text-align:center;
  color:black;
  font-size:120%;
}

#hob {
  background-color:tan;
  margin-left:2%;
  margin-right:2%;
  text-align:center;
  color:black;
  font-size:120%;
}

#lik {
  background-color:rgb(174, 176, 255);
  margin-left:2%;
  margin-right:2%;
  text-align:center;
  color:black;
  font-size:120%;
}

#dis {
  background-color:rgb(215, 255, 255);
  margin-left:2%;
  margin-right:2%;
  text-align:center;
  color:black;
  font-size:120%
}

#org {
  background-color:rgb(0, 255, 92);
  margin-left:2%;
  margin-right:2%;
  text-align:center;
  color:black;
  font-size:120%;
}

#fav {
  background-color:rgb(200,200,200);
  margin-left:2%;
  margin-right:2%;
  text-align:center;
  color:black;
  font-size:120%;
}

#four {
  background-color:rgb(255, 178, 241);
  margin-left:2%;
  margin-right:2%;
  text-align:center;
  color:black;
  font-size:120%;
}

#crea {
  margin-left:2%;
  margin-right:2%;
  background-color:rgb(255, 255, 81);
  text-align:center;
  padding-bottom:130px;
  color:black;
  font-size:120%;
}
